<div class="container">
  <div class="row">
    <div class="panel panel-body">

        <tt-big-logo></tt-big-logo>
        <h1>Login no Sistema</h1>

        <form #form="ngForm" name="loginForm" ngDefaultControl ngModel novalidate>

          <div class="form-group input-group" [class.has-error]="!isOK(email)" [class.has-feedback]="!isOK(email)">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" [(ngModel)]="user.email" type="email" name='email' tt-email-tecgraf placeholder="Email do usuário"
              #email="ngModel" required email/>
          </div>
          <div *ngIf="!isOK(email)" class="alert alert-danger">Entre com um email válido!</div>

          <div class="form-group input-group" [class.has-error]="!isOK(pwd)" [class.has-feedback]="!isOK(pwd)">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" [(ngModel)]="user.password" [type]="options.showPassword ? 'text' : 'password'" name='password' 
              placeholder="Senha" #pwd="ngModel" required/>
          </div>
          <div *ngIf="!isOK(pwd)" class="alert alert-danger">Entre com a senha!</div>
          
          <div class="form-group text-right">
            <a (click)="recover(user.email)">Esqueci a senha!</a>
          </div>

          <div class="checkbox">
            <label>
              <input [(ngModel)]="options.remember" type="checkbox" name="remember">Lembre-se de mim
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input [(ngModel)]="options.showPassword" type="checkbox" name="showPassword"/> Mostrar senha
            </label>
          </div>

          <div class="form-group text-right">
            <button [disabled]="!form.valid" type="button" class="btn btn-primary" (click)="login()">Entrar no sistema</button>
          </div>


        </form>

    </div>
  </div>
</div>
